# Exploring Hacker News Posts

## 1  Introduction

1. Read the **hacker_news.csv** file in as a list of lists.
- Assign the result to the variable **hn**.

In [1]:
import csv

In [2]:
hn = open('hacker_news.csv', encoding='utf-8')
hn = csv.reader(hn)
hn = list(hn)

2. Display the first five rows of **hn**.

In [3]:
print(hn[0:5])

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'], ['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']]

## 2 Removing Headers from a List of Lists

1. Extract the first row of data, and assign it to the variable **headers**.

In [4]:
headers = hn[0]

2. Remove the first row from **hn**.

In [5]:
hn = hn[1:]

3. Display **headers**.

In [6]:
print(headers)

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

4. Display the first five rows of **hn** to verify that you removed the header row properly.

In [7]:
print(hn[0:5])

[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']]

## 3. Extracting Ask HN and Show HN Posts

1.Create three empty lists called **ask_posts**, **show_posts**, and **other_posts**.

In [8]:
ask_posts = []
show_posts = []
other_posts = []

2. Loop through each row in **hn**.
- Assign the title in each row to a variable named **title**.
- Because the **title** column is the second column, you'll need to get the element at index **1** in each row.

3. Implement the following steps:
- If the lowercase version of **title** starts with **ask hn**, append the row to ask_posts.
 - Else, if the lowercase version of **title** starts with **show hn**, append the row to show_posts.
- Else append to **other_posts**.

In [9]:
for row in hn:
    title = row[1]
    if title.lower().startswith('ask hn'):
        ask_posts.append(row)
    elif title.lower().startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)

4. Check the number of posts in **ask_posts**, **show_posts**, and **other_posts**.

In [10]:
print('Lenght of list ask_posts: ',len(ask_posts))
print('Lenght of list show_posts: ',len(show_posts))
print('Lenght of list other_posts: ',len(other_posts))

Lenght of list ask_posts:  1744
Lenght of list show_posts:  1162
Lenght of list other_posts:  17194

## 4. Calculating the Average Number of Comments for Ask HN and Show HN Posts

1. Find the total number of comments in ask posts, and assign it to **total_ask_comments**.
- Set **total_ask_comments** to **0**.

In [11]:
total_ask_comments = 0

2. Use a for loop to iterate over the ask posts.
- Because the **num_comments** column is the fifth column in **ask_posts**, you'll need to get the element at index 4 in each row.
    - You'll also need to convert the value to an integer so that we can calculate the sum of all the comments.
    - Add this value to **total_ask_comments**.

In [12]:
for row in ask_posts:
    num_comments = int(row[4])
    total_ask_comments += num_comments

In [13]:
print(total_ask_comments)

24483

3. Compute the average number of comments on ask posts, and assign it to **avg_ask_comments**.
4. Print **avg_ask_comments**.

In [14]:
avg_ask_comments = total_ask_comments / len(ask_posts)
print(avg_ask_comments)

14.038417431192661

5. Find the total number of comments in show posts, and assign it to **total_show_comments**.
- Set **total_show_comments** to **0**.

In [15]:
total_show_comments = 0

6. Use a for loop to iterate over the show posts.
- Because the **num_comments** column is the fifth column in **show_posts**, you'll need to get the element at index 4 in each row.
    - You'll also need to convert the value to an integer so that we can calculate the sum of all the comments.
    - Add this value to **total_show_comments**.

In [16]:
for row in show_posts:
    num_comments = int(row[4])
    total_show_comments += num_comments

7. Compute the average number of comments on show posts, and assign it to **avg_show_comments**.
8. Print **avg_show_comments**.

In [17]:
avg_show_comments = total_show_comments / len(show_posts)
print(avg_show_comments)

10.31669535283993

9. Do show posts or ask posts receive more comments on average? Write a markdown cell explaining your findings.

*Ask posts receive more coments than show posts. This difference is about 4 comments per post.*

In [18]:
print(avg_ask_comments-avg_show_comments)

3.7217220783527303

## 5. Finding the Number of Ask Posts and Comments by Hour Created

1. Import the **datetime** module as **dt**.

In [33]:
import datetime as dt

2. Create an empty list, and assign it to **result_list**. This will be a list of lists.

In [34]:
result_list = []

3. Iterate over **ask_posts**, and append to **result_list** a list with two elements:
- The first element should be the column **created_at**.
    - Because the **created_at** column is the seventh column in **ask_posts**, you'll need to get the element at index **6** in each row.
- The second element should be the number of comments of the post.
    - You'll also need to convert the value to an integer.

In [35]:
for row in ask_posts:
    created_at = row[6]
    num_comments = int(row[4])
    result_list.append([created_at,num_comments])

In [36]:
print(result_list[:3])

[['8/16/2016 9:55', 6], ['11/22/2015 13:43', 29], ['5/2/2016 10:14', 1]]

4. Create two empty dictionaries called **counts_by_hour** and **comments_by_hour**.

In [46]:
counts_by_hour = {}
comments_by_hour = {}

5. Loop through each row of **result_list**.
6. Extract the hour from the date, which is the first element of the row.
7. Use the *datetime.strptime()* method to parse the date and create a datetime object.
8. Use the string we want to parse as the first argument and a string that specifies the format as the second argument.
- Use the *datetime.strftime()* method to select just the hour from the datetime object.
- If the hour isn't a key in **counts_by_hour**:
    - Create the key in **counts_by_hour**, and set it equal to **1**.
    - Create the key in **comments_by_hour**, and set it equal to the **comment** number.
- If the hour is already a key in **counts_by_hour**:
    - Increment the value in **counts_by_hour** by **1**.
    - Increment the value in **comments_by_hour** by the **comment** number.

In [47]:
for row in result_list:
    date = row[0]
    comment = row[1]
    date = dt.datetime.strptime(date, '%m/%d/%Y %H:%M')
    hour = dt.datetime.strftime(date, '%H')
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
        comments_by_hour[hour] = comment
    if hour in counts_by_hour:
        counts_by_hour[hour] += 1
        comments_by_hour[hour] += comment

In [44]:
print(counts_by_hour)

{'09': 46, '13': 86, '10': 60, '14': 108, '16': 109, '23': 69, '12': 74, '17': 101, '15': 117, '21': 110, '20': 81, '02': 59, '18': 110, '03': 55, '05': 47, '19': 111, '01': 61, '22': 72, '08': 49, '04': 48, '00': 56, '06': 45, '07': 35, '11': 59}

In [45]:
print(comments_by_hour)

{'09': 257, '13': 1282, '10': 794, '14': 1419, '16': 1831, '23': 544, '12': 691, '17': 1147, '15': 4478, '21': 1749, '20': 1724, '02': 1384, '18': 1441, '03': 422, '05': 493, '19': 1191, '01': 716, '22': 481, '08': 497, '04': 340, '00': 457, '06': 398, '07': 269, '11': 643}

## 6. Calculating the Average Number of Comments for Ask HN Posts by Hour

1. Use the example above to calculate the average number of comments per post for posts created during each hour of the day.

In [56]:
avg_by_hour = []

for hour in comments_by_hour:
    avg_by_hour.append([hour, comments_by_hour[hour]/counts_by_hour[hour]])

In [57]:
print(avg_by_hour)

[['09', 5.586956521739131], ['13', 14.906976744186046], ['10', 13.233333333333333], ['14', 13.13888888888889], ['16', 16.798165137614678], ['23', 7.884057971014493], ['12', 9.337837837837839], ['17', 11.356435643564357], ['15', 38.27350427350427], ['21', 15.9], ['20', 21.28395061728395], ['02', 23.45762711864407], ['18', 13.1], ['03', 7.672727272727273], ['05', 10.48936170212766], ['19', 10.72972972972973], ['01', 11.737704918032787], ['22', 6.680555555555555], ['08', 10.142857142857142], ['04', 7.083333333333333], ['00', 8.160714285714286], ['06', 8.844444444444445], ['07', 7.685714285714286], ['11', 10.898305084745763]]

## 7. Sorting and Printing Values from a List of Lists

1. Create a list that equals **avg_by_hour** with swapped columns.
- Create an empty list and assign it to **swap_avg_by_hour**.
- Iterate over the rows of **avg_by_hour**, and append to **swap_avg_by_hour** a list whose first element is the second element of the row, and whose second element is the first element of the row.

In [58]:
swap_avg_by_hour = []
for row in avg_by_hour:
    swap_avg_by_hour.append([row[1],row[0]])

2. Print **swap_avg_by_hour**.

In [59]:
print(swap_avg_by_hour)

[[5.586956521739131, '09'], [14.906976744186046, '13'], [13.233333333333333, '10'], [13.13888888888889, '14'], [16.798165137614678, '16'], [7.884057971014493, '23'], [9.337837837837839, '12'], [11.356435643564357, '17'], [38.27350427350427, '15'], [15.9, '21'], [21.28395061728395, '20'], [23.45762711864407, '02'], [13.1, '18'], [7.672727272727273, '03'], [10.48936170212766, '05'], [10.72972972972973, '19'], [11.737704918032787, '01'], [6.680555555555555, '22'], [10.142857142857142, '08'], [7.083333333333333, '04'], [8.160714285714286, '00'], [8.844444444444445, '06'], [7.685714285714286, '07'], [10.898305084745763, '11']]

3. Use the *sorted()* function to sort **swap_avg_by_hour** in descending order. Since the first column of this list is the average number of comments, sorting the list will sort by the average number of comments.
- Set the *reverse* argument to *True*, so that the highest value in the first column appears first in the list.
- Assign the result to **sorted_swap**.

In [73]:
from operator import itemgetter
sorted_swap = sorted(swap_avg_by_hour,key = itemgetter(0), reverse = True)

In [87]:
print('Top 5 hours for Ask Posts Comments:\n')
for row in sorted_swap[:5]:
    format_hour = dt.datetime.strptime(row[1],'%H')
    format_hour = dt.datetime.strftime(format_hour,'%H:%M')
    print("{}: {:.2f} average comments per post".format(format_hour,row[0]))

Top 5 hours for Ask Posts Comments:

15:00: 38.27 average comments per post
02:00: 23.46 average comments per post
20:00: 21.28 average comments per post
16:00: 16.80 average comments per post
21:00: 15.90 average comments per post

## Conclusion

The best hours to add a posts are in the afternoon between 3-5pm. It is also worth adding posts in the evening, between 8-10pm. In these period of time, users often respond on the questions. This is probably due to free time. Most of users probably are in work or school to 3PM, after that they are sit in front of the computer and respond on the questions.