You just got hired as the first and only data practitioner at a small business experiencing exponential growth. The company needs more structured processes, guidelines, and standards. Your first mission is to structure the human resources data. The data is currently scattered across teams and files and comes in various formats: Excel files, CSVs, JSON files...

You'll work with the following data in the `datasets` folder:
- __Office addresses__ are currently saved in `office_addresses.csv`. If the value for office is `NaN`, then the employee is remote. 
- __Employee addresses__ are saved on the first tab of `employee_information.xlsx`.
- __Employee emergency contacts__ are saved on the second tab of `employee_information.xlsx`; this tab is called `emergency_contacts`. However, this sheet was edited at some point, and the headers were removed! The HR manager let you know that they should be: `employee_id`, `last_name`, `first_name`, `emergency_contact`, `emergency_contact_number`, and `relationship`.
- __Employee roles, teams, and salaries__ have been exported from the company's human resources management system into a JSON file titled `employee_roles.json`. Here are the first few lines of that file:
```
{"A2R5H9":
  {
    "title": "CEO",
    "monthly_salary": "$4500",
    "team": "Leadership"
  },
 ...
}

## Import Datasets

### Libraries

In [125]:
import pandas as pd
import json

### Office addresses

In [126]:
office = pd.read_csv('datasets/office_addresses.csv')
office.head()

          office office_country  ...   office_street office_street_number
0  Leuven Office             BE  ...  Martelarenlaan                   38
1     ESB Office             US  ...    Fifth Avenue                  350
2  WeWork Office             GB  ...      Old Street                  207

[3 rows x 5 columns]

### Employee addresses

In [127]:
emp_adress = pd.read_excel('datasets/employee_information.xlsx')
emp_adress.head()

  employee_id employee_last_name  ...      employee_street employee_street_number
0      A2R5H9             Hunman  ...          Grote Markt                      9
1      H8K0L6               Siff  ...         Baker Street                    221
2      G4R7V0              Sagal  ...         Perry Street                     66
3      M1Z7U9             Coates  ...  Rue de l'Université                      7

[4 rows x 7 columns]

### Employee emergency contacts

In [128]:
colnames_emerg_cont = ['employee_id','last_name','first_name','emergency_contact','emergency_contact_number','relationship']

In [129]:
emp_emerg_cont = pd.read_excel('datasets/employee_information.xlsx',sheet_name=1,header=None,names = colnames_emerg_cont)
emp_emerg_cont.head()

  employee_id last_name  ... emergency_contact_number relationship
0      A2R5H9    Hunman  ...          +32-456-5556-84      Brother
1      H8K0L6      Siff  ...         +44-020-5554-333       Sister
2      G4R7V0     Sagal  ...           +1-202-555-194      Husband
3      M1Z7U9    Coates  ...          +1-202-555-0130         Wife

[4 rows x 6 columns]

### Employee roles, teams and salaries

In [130]:
with open('datasets/employee_roles.json') as f:
   empl_roles = json.load(f)

In [131]:
empl_roles_df = pd.DataFrame(empl_roles) # to DataFrame
empl_roles_df = empl_roles_df.transpose() # transpose
empl_roles_df['employee_id'] = empl_roles_df.index
empl_roles_df.head()

                     title monthly_salary               team employee_id
A2R5H9                 CEO          $4500         Leadership      A2R5H9
H8K0L6                 CFO          $4500         Leadership      H8K0L6
G4R7V0  Business Developer          $3000              Sales      G4R7V0
M1Z7U9      Office Manager          $2000  People Operations      M1Z7U9

## Merging

### By 'employee_id'

In [132]:
employees_final = pd.concat([empl_roles_df.set_index('employee_id'),
                    emp_emerg_cont.set_index('employee_id'),
                    emp_adress.set_index('employee_id')],axis = 1,join='inner')
employees_final['employee_id'] = employees_final.index
employees_final.head(20)

                          title  ... employee_id
employee_id                      ...
A2R5H9                      CEO  ...      A2R5H9
H8K0L6                      CFO  ...      H8K0L6
G4R7V0       Business Developer  ...      G4R7V0
M1Z7U9           Office Manager  ...      M1Z7U9

[4 rows x 15 columns]

### By 'country'

In [133]:
employees_final = employees_final.merge(right=office,how='left',left_on='employee_country',
                           right_on='office_country',suffixes=('',''))
employees_final.head(20)

                title monthly_salary  ...   office_street office_street_number
0                 CEO          $4500  ...  Martelarenlaan                 38.0
1                 CFO          $4500  ...      Old Street                207.0
2  Business Developer          $3000  ...    Fifth Avenue                350.0
3      Office Manager          $2000  ...             NaN                  NaN

[4 rows x 20 columns]

In [134]:
employees_final.loc[:,employees_final.columns.str.startswith('office')] = employees_final.loc[:,employees_final.columns.str.startswith('office')].fillna('Remote') 
employees_final.head()

                title monthly_salary  ...   office_street office_street_number
0                 CEO          $4500  ...  Martelarenlaan                 38.0
1                 CFO          $4500  ...      Old Street                207.0
2  Business Developer          $3000  ...    Fifth Avenue                350.0
3      Office Manager          $2000  ...          Remote               Remote

[4 rows x 20 columns]

### Select columns

In [135]:
employees_final.index = employees_final['employee_id']
employees_final = employees_final[['first_name','last_name','employee_country','employee_city', 'employee_street', 'employee_street_number', 'emergency_contact', 'emergency_contact_number', 'relationship', 'monthly_salary', 'team', 'title', 'office', 'office_country', 'office_city', 'office_street', 'office_street_number']]
employees_final.head()

            first_name last_name  ...   office_street office_street_number
employee_id                       ...
A2R5H9             Jax    Hunman  ...  Martelarenlaan                 38.0
H8K0L6            Tara      Siff  ...      Old Street                207.0
G4R7V0           Gemma     Sagal  ...    Fifth Avenue                350.0
M1Z7U9             Tig    Coates  ...          Remote               Remote

[4 rows x 17 columns]